<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF_8">
    <title>Self Esteem</title>
  </head>
<div id="Self Esteem" class="tabcontent">
  <h3>Self Esteem</h3>
  
  <img width="350" height="350" src="http://uncustomary.org/wp-content/uploads/2015/12/30-Quotes-About-Self-Love-Uncustomary-2.jpg">
  
  <p>Research has shown key differences between individuals with high and low self-esteem. For example, people with high self-esteem focus on growth and improvement, whereas people with low self-esteem focus on not making mistakes in life.Low self-esteem has been shown to be correlated with a number of negative outcomes, such as depression.Rosenberg and Owen offer the following description of low self-esteem people based on empirical research. People with low self-esteem are more troubled by failure and tend to exaggerate events as being negative.Research has shown key differences between individuals with high and low self-esteem. For example, people with high self-esteem focus on growth and improvement, whereas people with low self-esteem focus on not making mistakes in life.Low self-esteem has been shown to be correlated with a number of negative outcomes, such as depression.People with low self-esteem are more troubled by failure and tend to exaggerate events as being negative.</p>
</div>
 <button type="button">Posts!</button>
<button type="button">Advice!</button>
</html> 