<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sexual Assault</title>
  </head>
  <body>
    <h1>Sexual Assault</h1>
    <!--in bold-->
    <h2>"It's not your fault, remember that"</h2> 
    <!--that will be in italics-->
    <img width="350" height="300" src="https://images.pexels.com/photos/247314/pexels-photo-247314.jpeg?auto=compress&cs=tinysrgb&h=350">
<h2>Before we start, if you are in need of immediate assistance please call this hotline 800-656-HOPE or 911.</h2>
<h2>NOTE: I'm sure that whatever you have been through, you understand what it was. You are not the only one this happend to, you can recover, revive, and rejoice with others just like you. Change can happen, slowy and surley, don't give up. </h2>
<h1>__________________________________________</h1>
<h1>Statistics</h1>
<h2>Every 98 seconds an american is sexually assaulted</h2>
<h2>Every 8 minutes, its a child</h2>
<h2>Every year 321,510 children get assaulted</h2>
<h2>And out of every 1,000 predetors, only 8 end up in jail</h2>
<h2>Sexual Assault is not an easy thing to talk about, any type of assualt is hard to talk about for that matter. But lets just start off with the definition of assualt, "to make a physical attack on." This type of assault can be taken many different###Sexual Assault is no joke, that moment stays with you forever, but there are ways to minimize the hurt and the pain. Please click the advice button for furthermore...</h2>
 </body>
</html>