<h1> Sign Up </h1>
<p>Your Email Address: <input type="text" name="your_email_address"></p>
<p>Password: <input type="text" name="password"></p>
<p>Forgot password? Click <a href = /forgotpassword >here</a></p>
<input type="Submit">
